.card{
    border:0 !important ;
    padding: 30px;
    max-width: 325px;
}
.card img{
    height: 200px;
    width: 200px;
    margin: 0 auto;
}
.card:hover{
    transition: all 0.4s linear 0s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.alink a {
    text-decoration: none;
    color: gray;
}
.alink a:hover{
    color: hotpink;
}